DB_HOST=localhost
DB_PORT=3306
DB_NAME=daily_finance
DB_USERNAME=daily_finance
DB_PASSWORD=Change-me
SERVER_PORT=8080
SERVER_ADDRESS=127.0.0.1
SPRING_PROFILES_ACTIVE=prod
FRONTEND_PORT=4173
FRONTEND_MODE=static
FORCE_BUILD=0
